body, html{
	width:100%;
	height:100%;
	margin:0;
	font-family: 'Aclonica', sans-serif; 
}
h1{
	margin:0px;
	text-align:center;
	color:#f7eccd;
	font-size: calc(2em + 1vw);
}
p{
	margin: 0px;
	text-align:center;
	justify-content:center;
	font-size: calc(0.5em + 1vw);
}
.darbuka{
	width:34%;
	height:100%;
	vertical-align: middle;
    text-align:center
}
.contain-img{
	max-height:100%;
	max-width:100%;
}
.center{
	align-items: center;
	justify-content: center;
}
.img-center{
	display:block;
	margin-left: auto;
	margin-right: auto;
}
/*defines destop div percentages*/
.small-row{
	display:block;
	text-align:center;
	width:100%;
	height:30%;
	background-color:#759370;/*green*/
	background-image:url("images/gbackground.jpg");
	background-size:cover;
}
.big-row{
	display:flex;
	width:100%;
	height:70%;
}
.small-column{
	display:flex;
	height:100%;
	width:30%;
	background-image:url("images/dbackground.jpg");
}
.big-column{
	display:block;
	height:100%;
	width:70%;
}
.box-row{
	display:flex;
	height:50%;
	width:100%;
}
.box1, .box4{
	display:flex;
	height:100%;
	width:40%;
}
.box2{
	display:flex;
	height:100%;
	width:60%;
	background-color:#b7867b;/*clay red*/
}
.box3{
	display:block;
	height:100%;
	width:60%;
	background-color:#5894f5;/*blue*/
	color:#f7eccd;/*clay white*/
}
.box4{background-image:url("images/wbackground.jpg");}
/*responsiveness code*/
@media only screen and (max-width:700px){
	.map{display:none;}
	.small-row{height:15%;}
	.big-row{
		display:block;
		height:85%;
	}
	.small-column{
		display:block;
		width: 100%;
		height:60%;
	}
	.big-column{
		width:100%;
	}
	.box-row{
		display:block;
		width: 100%;
		height: 50%;
	}
	.box1, .box4{
		height: 75%;
		width: 100%;
	}
	.box1{
		display:block;
		background-image:url("images/darbuka_map.png");
		background-size:cover;
	}
	.box4{display:flex;}
	.box2{
		height: 25%;
		width: 100%;}
	.box3{
		height: 25%;
		width: 100%;}
	}
/*further adjusts divs and text size*/
@media only screen and (max-width:400px){
	p{font-size: calc(0.5em + 1vw);}
	.darbuka{max-width:30%;}
	.box1, .box4{
		display:block;
		height: 50%;
		width: 100%;
	}
	.box2{
		height: 50%;
		width: 100%;}
	.box3{
		height: 50%;
		width: 100%;}
}
@media only screen and (max-height:500px){
	h1{font-size: calc(0.9em + 1vw);}
	p{font-size: calc(0.3em + 1vw);}
}
@media only screen and (max-height:350px) {
	p{font-size: calc(0.2em + 0.9vw);}
}